body {
    width: 100%;
    text-align: center;
}

img {
    border: 0;
}

#main {
    margin: 15px auto;
    background: white;
    overflow: auto;
}

#header {
    background: white;
    margin-bottom: 15px;
}

#mainbody {
    background: white;
    width: 100%;
    display: block;
}

#header ul {
    margin-bottom: 0;
    margin-right: 40px;
}

#header li {
    display: inline;
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-weight: bold;
    border-right: 1px solid #333333;
}

#header li a {
    text-decoration: none;
    color: black;
}

a {
    color: black;
}

div.button {
    border: 2px solid #333333;;
    border-radius: 15px;
    width: 100px;
    cursor: pointer;
    font-weight: bold;
}

#v {
    width: 320px;
    height: 240px;
}

#qr-canvas {
    display: none;
}

#qrfile {
    width: 320px;
    height: 240px;
}

#mp1 {
    text-align: center;
    font-size: 35px;
}

#imghelp {
    position: relative;
    left: 0;
    top: -160px;
    z-index: 100;
    font: 18px arial, sans-serif;
    background: #f0f0f0;
    margin-left: 35px;
    margin-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.selector {
    margin: 0;
    padding: 0;
    cursor: pointer;
    margin-bottom: -5px;
}

#outdiv {
    width: 320px;
    height: 240px;
    border: solid;
    border-width: 3px 3px 3px 3px;
}

#result {
    border: solid;
    border-width: 1px 1px 1px 1px;
    padding: 20px;
    width: 70%;
}
