body {
    width: 100%;
    text-align: center;
}

#main {
    margin: 56px auto 0 auto;
    background: white;
    overflow: auto;
    display: table;
}

#mainbody {
    background: white;
    width: 100%;
}


div.button-park,
div.button-leave,
div.button-call,
div.button-notify,
div.button-ok,
div.button-change-time {
    margin: 0 auto;
    border: 2px solid #333333;;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
}

div.button-park,
div.button-notify {
    width: 140px;
}

div.button-ok {
    width: 50px
}

div.button-leave {
    width: 70px;
}

div.button-call {
    width: 100px;
    display: none;
}

div.button-change-time {
    width: 140px;
}

p.page-describe {
    font-size: 25px;
    text-align: center;
}

p.page-info {
    font-size: 16px;
    text-align: center;
}

.input {
    margin: 0 10px 20px 0;
}